.heading {
    color: black;
    margin-left: 16px;
    margin-bottom:24px;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 650;
line-height: 24px; /* 133.333% */
letter-spacing: -0.27px;
display: inline-block;
}


.share-email {
    color: #313131;
    margin-left: 16px;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 133.333% */
letter-spacing: -0.27px;
}

.share-btn {
    border-radius: 5px;
background: #E25D41;
outline: none;
border-color: #E25D41;
color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Balsamiq Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
text-transform: uppercase;
height: 40px;
padding-left: 15px;
padding-right: 15px;
border-style: none;
}

.copy-link {
    cursor: pointer;
    color: var(--accent, #E25D41);
    margin-left: 16px;
    margin-top: 4px;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17.84px;
letter-spacing: 0.167px;
text-decoration-line: underline;
}