<body>
    


<svg (click)="onNoClick()" style="margin-left: 500px;
margin-top: -27px;" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_3259_101210)">
    <path d="M29.2923 9.88176L27.1186 7.70801L18.5007 16.3259L9.88273 7.70801L7.70898 9.88176L16.3269 18.4997L7.70898 27.1176L9.88273 29.2913L18.5007 20.6734L27.1186 29.2913L29.2923 27.1176L20.6744 18.4997L29.2923 9.88176Z" fill="#707070"/>
    </g>
    <defs>
    <clipPath id="clip0_3259_101210">
    <rect width="37" height="37" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    
<div style="width: 525px; height: 399; ">
<img src="../../../../../assets/img/header.png" alt="header" style="margin-left: 38px;">
<p style="color: black;
margin-left: 37px;
margin-top: 15px;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 133.333% */
letter-spacing: -0.27px;">Date & Time:</p>

<div style="overflow: scroll;
width: 469px;
height: 327px;
margin-left: 34px;
overflow-x: scroll;
overflow-y: scroll;" class="table-container"> 
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
    style=" width:93.5%;  margin-bottom: 33px; ">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Slno. Column -->
    <ng-container matColumnDef="Slno">
      <th mat-header-cell *matHeaderCellDef style="font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* Primary Text */
    
    color: #313131;"> Slno. </th>
      <td mat-cell *matCellDef="let element"> {{element.Slno}} </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="Product_Name">
      <th mat-header-cell *matHeaderCellDef style="font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* Primary Text */
    
    color: #313131;"> Product Name </th>
      <td mat-cell *matCellDef="let element" style="width: 260px; height: 103px;"> <a href="">
          <p style="width: 260px;
      height: 51px; margin-bottom: 22px;">{{element.Product_Name}}</p>
        </a> </td>
    </ng-container>



    <!-- Quantity  (₹) Column -->
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef style="font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* Primary Text */
    
    color: #313131;"> Quantity</th>
      <td mat-cell *matCellDef="let element" style="    text-align: center;"> <svg  style="cursor: pointer; " width="16" height="16"
          viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="16" height="16" rx="2.66667" fill="#E25D41" />
          <path d="M5.38052 8.77031V7.53031H10.6205V8.77031H5.38052Z" fill="white" />
        </svg><input id="dynamic_quantity" type="number" [(ngModel)]="element.Quantity" style="width: 80px;
        border: none;
        text-align: center;"><svg  style="cursor: pointer;" width="15" height="15" viewBox="0 0 15 15"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="15" height="15" rx="2.5" fill="#E25D41" />
          <path d="M6.86805 11.24V2.76H8.12805V11.24H6.86805ZM3.14805 7.6V6.42H11.848V7.6H3.14805Z"
            fill="white" />
        </svg> </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef style="font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  
  /* Primary Text */
  
  color: #313131;"> Amount </th>
      <td mat-cell *matCellDef="let element" style="    text-align: center;"> {{element.Amount}} </td>
    </ng-container>

    <!-- Current Stock Column -->
    <ng-container matColumnDef="Current_Stock">
      <th mat-header-cell *matHeaderCellDef style="font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  
  /* Primary Text */
  
  color: #313131;"> Current Stock </th>
      <td mat-cell *matCellDef="let element" style="    text-align: center;"> {{element.Current_Stock}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> <svg   width="16" height="17" viewBox="0 0 16 17" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M16 5.56312V9.92676L8 5.07827L-7.15256e-07 9.92676V5.56312L8 0.714637L16 5.56312Z"
            fill="#313131" />
          <path d="M16 12.3512V16.7148L8 11.8664L-7.15256e-07 16.7148V12.3512L8 7.50272L16 12.3512Z"
            fill="#313131" />
        </svg>
      </th>
      <td mat-cell *matCellDef="let element"> <svg  width="13" height="16" viewBox="0 0 13 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.888889 14.2222C0.888889 15.2 1.68889 16 2.66667 16H9.77778C10.7556 16 11.5556 15.2 11.5556 14.2222V3.55556H0.888889V14.2222ZM12.4444 0.888889H9.33333L8.44444 0H4L3.11111 0.888889H0V2.66667H12.4444V0.888889Z"
            fill="#E25D41" />
        </svg>
        {{element.Action}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>


    

    <div style="width: 528px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 62px;
    border-radius: 5px;
    border: 1px solid #E4E5E5;
    background: #FFF; display: inline-block;">
<p style="color: #1A1A1A;
font-family: Montserrat;
display: inline-block;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.24px;
margin-left: 43px;
margin-bottom: 16px;" id="linkText">https://www.figma.com/proto/Pqvpl5zg8....</p> <button style="display: inline-block;
padding: 12px 24px;
align-items: flex-start;
gap: 10px;border-radius: 5px;
border: 1px solid #E25D41;
color: #E25D41;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Balsamiq Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
text-transform: uppercase;
margin: 9px;
background-color: #FFF;"(click)="copyLink()">COPY LINK</button>
    </div>

    <img src="../../../../../assets/img/barcode.svg" alt="barcode" style="margin-left: 150px;">
        
<div style="margin-top: 19px;">

        <button style="display: inline-block;
padding: 12px 24px;
align-items: flex-start;
gap: 10px;border-radius: 5px;
border: 1px solid #E25D41;
color: #E25D41;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Balsamiq Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
text-transform: uppercase;
margin: 9px;
background-color: #FFF;
margin-left: 134px;
margin-right: 17px;" onclick="window.print()">PRINT</button>

<button style="display: inline-block;
padding: 12px 24px;
align-items: flex-start;
gap: 10px;border-radius: 5px;
border: 1px solid #E25D41;
color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Balsamiq Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
text-transform: uppercase;
margin: 9px;
background-color: #E25D41;"> <i><svg style="margin-top: -3px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_10650_448)">
<path d="M6.00065 4.66634H10.0007V8.66634H12.6673L8.00065 13.333L3.33398 8.66634H6.00065V4.66634Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_10650_448">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg>
</i> Download</button>

</div>

</body>