<mat-toolbar>
    <div>
      <!-- <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button> -->
    </div>
  <div class="grid">
     <div>
     <a routerLink="/account" style="color: black;"><mat-icon class=".setting_i" >settings</mat-icon></a>
      <img src="../../assets/icon/header_icon.svg"  height="44" width="44"  class="margin_l" >
   <!--   <a href=""><mat-icon class="power_i">power_settings_new</mat-icon></a>-->

     </div>
    <!-- <router-outlet></router-outlet> -->
  </div>
  </mat-toolbar>