

#close{
    float: right;
}

#mdialog{
    align-items: center;
}

#ctlabel{
    
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height, or 133% */
    
    letter-spacing: -0.015em;
    
    color: #313131;
    
}

#dlabel{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 33px;
/* identical to box height, or 133% */

letter-spacing: -0.015em;

color: #313131;
}


::placeholder{
    font-size: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#mtitle{

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #313131;
}

form{
    overflow-x: hidden;
overflow-y: hidden !important;
}

.orange_btn{
    margin-bottom: 25px;
}

.form-control{
    color: #707070;
font-size: 15px;
font-family: Montserrat;
font-weight: 500;
word-wrap: break-word
}