<div style="width: 100%; text-align: center;" >
<img src="../../../../../assets/img/success.svg" alt="Success-SVG" style="text-align: center; display: inline-block; margin-top: 27px;">

</div>

<svg (click)="onNoClick()" style="display:inline-block; position:absolute; 
margin-top: -142px; margin-left:532px;"  width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M22.2923 2.88176L20.1186 0.708008L11.5007 9.32592L2.88273 0.708008L0.708984 2.88176L9.3269 11.4997L0.708984 20.1176L2.88273 22.2913L11.5007 13.6734L20.1186 22.2913L22.2923 20.1176L13.6744 11.4997L22.2923 2.88176Z" fill="#707070"/>
    </svg>


<p style="margin-left: 31px;
margin-top: 31px; color: #2BB673;
font-family: Balsamiq Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
letter-spacing: -0.36px;">Check your Inbox we just delivered an Email</p>