<div class="example_set">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="head1">
    <path d="M23.3327 10.5846H6.09185L14.011 2.66547L11.9993 0.667969L0.666016 12.0013L11.9993 23.3346L13.9968 21.3371L6.09185 13.418H23.3327V10.5846Z" fill="#313131"></path></svg>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Settings
</div>
<div class="example">
    <div class="form">
        <img [src]="imageUrl" height="58" width="60" style="border-radius: 100px;"  class="margin_l" >
        <h1 class="item1" >MUKESH KUMAR</h1>
        <h1 class="item2">&nbsp;User role, useremail.com</h1>
            <div class="example-button">
            <img src="assets/images/check.png" class="icon">
        

          <h1 class="button"(click)="fileInput.click()">&nbsp;UPLOAD IMAGE</h1>
                <input type="file" #fileInput style="display: none"  (change)="onSubmitPrfile()" accept="image/*,application/pdf" >

          </div>

          

        </div>
        <div class="form1">
            <h1 class="login">Login and Security</h1>
           <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label class="input">User Name</mat-label>
              <input matInput class="item" value="MUKESH KUMAR">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label class="input">Contact</mat-label>
              <input matInput class="item" value="+912547854236">
            </mat-form-field>
            <div class="example-button1">
              <h1 class="button1">RESET PASSWORD</h1>
              </div>
               <mat-form-field class="example-full-width">
              <mat-label class="input">Password</mat-label>
              <input matInput class="item" value="Last resent 6 months ago">
            </mat-form-field>

        <!--     <mat-form-field class="example-full-width">
                <mat-label class="input">User Name</mat-label>
                <input matInput class="item" value="MUKESH KUMAR">
              </mat-form-field>
             <mat-form-field class="example-full-width">
                <mat-label class="input">Contact</mat-label>
                <input matInput class="item" value="+912547854236">
              </mat-form-field>
              <div class="example-button1">
                <h1 class="button1">REST PASSWORD</h1>
                </div>
              <mat-form-field class="example-full-width">
                <mat-label class="input">Password</mat-label>
                <input matInput class="item" value="Last resent 6 months ago">
              </mat-form-field> -->
            </form>
        </div>
      </div>
   
  
  <div class="form1">
    <h1 class="login">Login and Security</h1>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label class="input">User Name</mat-label>
        <input matInput class="item" value="MUKESH KUMAR">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label class="input">Contact</mat-label>
        <input matInput class="item" value="+912547854236">
      </mat-form-field>
      <div class="example-button1">
        <h1 class="button1">RESET PASSWORD</h1>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label class="input">Password</mat-label>
        <input matInput class="item" value="Last reset 6 months ago">
      </mat-form-field>
    </form>
  </div>

