<div class="login">
  <div class="row">
   <div class="col-md-6">
     <div class="login_img">
       <img src="assets/images/login_img.png">
       <h4>Ethical - Economical - Empathetic</h4>
     </div>
   </div>
   <div class="col-md-6">
     <div class="login_txt">
       <img class="curve1" src="assets/images/1.png">
       <img src="assets/images/logo.png">
       <form>
         <h3>Forgot your password</h3>
         <p>Please enter your username to receive password reset information</p>
         <div class="form-group">
           <label for="exampleInputEmail1">Enter Registered Mobile Number</label>
           <input type="email" class="form-control" placeholder="Enter registered mobile number">
         </div>
         <label for="otp">OTP</label>
         <div class="otp-input-group">
          <input type="text" data-type="otp" class="otp-input-group" maxlength="1" id="otp1" (input)="focusNextOtpBox(1)" />
          <input type="text" data-type="otp" class="otp-input-group" maxlength="1" id="otp2" (input)="focusNextOtpBox(2)" />
          <input type="text" data-type="otp" class="otp-input-group" maxlength="1" id="otp3" (input)="focusNextOtpBox(3)" />
          <input type="text" data-type="otp" class="otp-input-group" maxlength="1" id="otp4" (input)="focusNextOtpBox(4)" />
          <input type="text" data-type="otp" class="otp-input-group" maxlength="1" id="otp5" (input)="focusNextOtpBox(5)" />
          <input type="text" data-type="otp" class="otp-input-group" maxlength="1" id="otp6" (input)="focusNextOtpBox(6)" />
         </div>
         
        <!-- <a routerLink="./reset-password" >Submit</a>
        <br> -->
    
          <!-- <button type="submit"  routerLink="/reset-password" class="btn" ><img src="assets/images/check.png">&nbsp; Verify </button> -->
         
         <button type="submit" (click)="onSubmit()" class="btn" ><img src="assets/images/check.png">&nbsp; Verify </button>
         <div>
          <a class="forgot" href="javascript:void(0);" (click)="resendOTP()" [class.disabled]="countdownTimer > 0">
            Resend OTP in 00:{{ countdownTimer.toString().padStart(2, '0') }} sec
          </a>
          
         </div>
       </form>
       <img class="curve2" src="assets/images/2.png">
     </div>
   </div>
  </div>
 </div>
    