
<div class="logo">
    <img src="assets/images/logo.png">
  </div>
  <mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/account" routerLinkActive="active">
        <span>My Account</span>
      </a> 
        <a mat-list-item routerLink="/documents" routerLinkActive="active">
          <i class=""></i>
          <span>Documents</span>
        </a>
        <a mat-list-item routerLink="/importstock" routerLinkActive="active">
          <i class=""></i>
          <span>Import Stock</span>
        </a>
      
        
  </mat-nav-list>