
<img class="success-img" src="../../../../../assets/img/success.svg" alt="Success-SVG">

<div class="close-cross-icon" (click)="onNoClick()">
    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"
    style="margin-top: -136px;">
        <g clip-path="url(#clip0_3259_112181)">
        <path d="M29.2918 9.88273L27.1181 7.70898L18.5002 16.3269L9.88225 7.70898L7.7085 9.88273L16.3264 18.5007L7.7085 27.1186L9.88225 29.2923L18.5002 20.6744L27.1181 29.2923L29.2918 27.1186L20.6739 18.5007L29.2918 9.88273Z" fill="#707070"/>
        </g>
        <defs>
        <clipPath id="clip0_3259_112181">
        <rect width="37" height="37" fill="white"/>
        </clipPath>
        </defs>
        </svg>
    </div>
    
<p class="text-success">Near Expiry Products Ordered Successfully</p>