.material-icons {
    font-size: 30px;
}
.plus_btnn{
    /* margin-top: 1px; */
    border: none;
    background: none;
    color: #e25d41;
    font-size: 25px;
    width: 32px;
    height: 32px ;
    top: 575px ;
    left: 564px ;

}

