<div class="login">
    <div class="row">
     <div class="col-md-6">
       <div class="login_img">
         <img src="assets/images/login_img.png">
         <h4>Ethical - Economical - Empathetic</h4>
       </div>
     </div>
     <div class="col-md-6">
       <div class="login_txt">
         <img class="curve1" src="assets/images/1.png">
         <img src="assets/images/logo.png">
         <form>
           <h3>Reset Password</h3>
           <p>Password should contain minimum 6 characters</p>
           <div class="form-group">
             <label for="exampleInputEmail1">New Password</label>
             <input type="email" class="form-control" placeholder="Enter registered mobile number">
           </div>
           <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter Confirm Password"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"> 
            <i class="fa fa-eye-slash"></i>
            <i class="fa fa-eye-slash"></i>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']" class="text-left">Confirm Password is required</div>
              <div *ngIf="f['password'].errors['minlength']" class="text-left">Password must be at least 6 characters</div>
            </div>
          </div>
          <button type="submit" class="btn" (click)="ResetPassword()"><img src="assets/images/check.png">&nbsp; Reset Password</button>
           <div>
             <a class="forgot" href="" routerLink="/login">Go back to login</a>
           </div>
         </form>
         <img class="curve2" src="assets/images/2.png">
       </div>
     </div>
    </div>
   </div>
      