.login{
    position: relative;
    height: 100%;
  }
  .login .row{
    margin: 0 !important;
    height: 100%;
  }
  .login .col-md-6{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .login_img{
    background-image: url("../../../../assets/images/login_background.png");
    padding: 120px 0;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  .login_img h4{
    font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-top: 40px;
  }
  .login_txt{
    position: relative;
    height: 100%;
  }
  .login_txt form{
    padding-left: 25px;
  }
  .login_txt h3{
    font-family: 'Balsamiq Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #313131;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  .login_txt p{
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #E25D41;
}
.login_txt .curve1{
  position: absolute;
  right: 0;
  top: 0;
}
.login_txt .curve2{
  position: absolute;
  right: 0;
  bottom: 0;
}
.fa-eye{

  position:absolute;
  width: 25px;
  height: 20px;
  top: 320px;
  left: 480px;       
  padding: 2.4998974800109863px 0px 2.49989652633667px 0px;
  opacity: 0.6000000238418579px;
  font-size: 18px;
  color:rgb(95, 95, 95);
}
.fa-eye-slash {
  position:absolute;
  width: 25px;
  height: 20px;
  top: 413px;
  left: 480px;       
  padding: 2.4998974800109863px 0px 2.49989652633667px 0px;
  opacity: 0.6000000238418579px;
  font-size: 18px;
  color: 18px;
  color:rgb(95, 95, 95);

}
.form-control.invalid-feedback {
  border-color: red;
}
.form-control.invalid.help-block {
  color: red;
}
.invalid-feedback{
  border-color: red;
}
