<div class="login">
    <div class="row">
     <div class="col-md-6">
       <div class="login_img">
         <img src="assets/images/login_img.png">
         <h4>Ethical - Economical - Empathetic</h4>
       </div>
     </div>
     <div class="col-md-6">
       <div class="login_txt">
         <img class="curve1" src="assets/images/1.png">
         <img src="assets/images/logo.png">
         <form>
           <h3>Forgot your password</h3>
           <p>Please enter yourregistered mobile number to recieve password reset information</p>
           <div class="form-group">
             <label for="exampleInputEmail1">Registered Mobile Number</label>
             <input type="email" class="form-control" placeholder="Enter registered mobile number">
           </div>
           <button type="submit" class="btn" routerLink="/otp-forgot-password"><img src="assets/images/check.png">&nbsp; Send OTP</button>
           <div>
             <a class="forgot" href="" routerLink="/login">Go back to login</a>
           </div>
         </form>
         <img class="curve2" src="assets/images/2.png">
       </div>
     </div>
    </div>
   </div>
      